*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f7fa;
    color:#333;
}

header{
    background:#0a8754;
    color:white;
    padding:15px 8%;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

button{
    background:#ff9800;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(135deg,#ff9933,#ffffff,#138808);
}

.hero h1{
    font-size:42px;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    margin-bottom:25px;
}

.hero input{
    width:60%;
    max-width:500px;
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
}

section{
    padding:60px 8%;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}
